[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-asyncio = "*"

[packages]
aiohttp = "*"
jsonschema = "*"
requests = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.6"
